extends ./layouts/index

block contenido
    main(class="container mt-5")
        div(class="row")
            div(class="col-md-5")
                img(src="img/nosotros.jpg", alt="Imagen Pagina Nosotros" class="img-fluid")
            div(class="col-md-7")
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus massa neque, et accumsan magna fringilla a
                    | Sed urna libero, laoreet sed metus vitae, molestie scelerisque mi. Nunc sagittis vehicula urna, at dictum nunc. Quisque ut est vulputate,
                    | elementum sapien eu, luctus elit. Sed interdum id diam vel malesuada. Etiam pulvinar elit ut fringilla finibus.

                p libero purus, dictum in ligula et, convallis scelerisque purus. Aliquam erat volutpat. Mauris pharetra nulla feugiat lorem hendrerit,
                    | a cursus dolor placerat. Mauris elementum libero vitae sodales fermentum. Cras justo lacus, congue sed mollis ut, porttitor vitae lorem. 
                    | Etiam aliquam ac lorem in tincidunt.

                p Duis ornare accumsan quam, in lacinia lorem porta eu. Duis ullamcorper lorem tellus, nec vehicula nunc dignissim et. Fusce non mi quis 
                    | nisl cursus blandit fermentum ut orci. Donec ornare non metus vel pharetra. Proin ac enim fringilla, porttitor dolor in, dignissim tellus. 
                    | Praesent venenatis, eros a lacinia pellentesque, magna mauris molestie nunc, ut vulputate tortor enim et mauris. Aenean sagittis mauris nec 
                    | tristique efficitur.

    div(class="listado-iconos")
        div(class="container mt-5 py-5 text-center")
            div(class="row")
                div(class="col-md-4")
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad" class="img-fluid mb-4")
                    h2(class="mb-4") Seguridad
                    p Praesent venenatis, eros a lacinia pellentesque, magna mauris molestie nunc, ut vulputate tortor enim et mauris. Aenean sagittis mauris nec 
                        | tristique efficitur.

                div(class="col-md-4")
                    img(src="img/icono_destinos.svg", alt="Icono Destinos" class="img-fluid mb-4")
                    h2(class="mb-4") Destinos
                    p Praesent venenatis, eros a lacinia pellentesque, magna mauris molestie nunc, ut vulputate tortor enim et mauris. Aenean sagittis mauris nec 
                        | tristique efficitur.

                div(class="col-md-4")
                    img(src="img/icono_precios.svg", alt="Icono Precios" class="img-fluid mb-4")
                    h2(class="mb-4") Precios
                    p Praesent venenatis, eros a lacinia pellentesque, magna mauris molestie nunc, ut vulputate tortor enim et mauris. Aenean sagittis mauris nec 
                        | tristique efficitur.
    